@font-face {
	font-family: "Causten";
	src: url('../fonts/Causten-Regular.woff2') format('woff2');
	font-weight:normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Causten";
	src: url('../fonts/Causten-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Causten";
	src: url('../fonts/Causten-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Causten";
	src: url('../fonts/Causten-Semi-Bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "Proxima Nova";
	src: url('../fonts/ProximaNova-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "Proxima Nova";
	src:url('../fonts/ProximaNova-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova";
	src: url('../fonts/ProximaNova-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style:  normal;
	font-display: swap;
}


@font-face {
	font-family: "Proxima Nova";
	src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}




@font-face {
	font-family: "SometypeMono";
	src: url("..//fonts/SometypeMonoBold.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
 }

 @font-face {
	font-family: "SometypeMonoSemi";
	src: url("../fonts/SometypeMonoSemiBold.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
 }

 @font-face {
	font-family: "SometypeMono";
	src: url("../fonts/SometypeMonoMedium.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
 }

 @font-face {
	font-family: "SometypeMono";
	src: url("../fonts/SometypeMonoRegular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
 }
 @font-face {
	font-family: "SometypeMono";
	src: url("../fonts/SometypeMonoMediumItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: normal;
	font-display: swap;
 }






