
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body{
	font-family:'Times New Roman', Times, serif;
	min-height: 100%;
	max-width:100% ;
}
.wrapper {
	padding: 0px 20px;
	
}
.header {
	border-radius: 10px;
	border-block:3px solid rgb(119, 219, 255);
	padding-block: 20px;
	max-width: 100%;
	background-color: cadetblue;
	width: 100%;
	min-width: 300px;
	z-index: 10;
	margin-bottom: 20px;

}
.header__container {


}
.header__title {
	font-size: 40px;
	line-height: 112.5%; /* 45px/40 */
	font-weight: 600;
	letter-spacing: 2px;
	text-shadow: 3px 3px 2px #000;
	text-decoration: underline solid rgb(4, 255, 171);
	color: rgb(4, 255, 171);
	text-align: center;
	margin-bottom: 20px;

}
.header__sub-title {
	font-size: 30px;
	font-weight: 600;
	color: aqua;
	/* text-decoration: underline solid  rgb(4, 255, 171); */
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 3px 3px 2px #000;
}

.header__menu {

}
.menu {

	text-align: center;
	margin: 0 -5px -10px;
}

.menu__item{
	display: inline-block;
	text-align: center;
	padding: 0 5px 10px;

}

.menu__link {
	padding: 10px;
	min-width: 250px;
	color: aqua;
	font-size: 25px;
	font-weight: 500;
	background-color: black;
	border: 3px solid ;
	border-radius: 10px;
	box-shadow: 5px 5px 10px 0px #222222;
	transition: 0.2s;
}
.menu__link:hover {
	background-color: rgb(34, 34, 34);
	border: 3px solid  rgb(4, 255, 171);
	box-shadow: 2px 2px 5px 0 #ffffff;
	color: rgb(4, 255, 171);
	transform: translate(0px,1px) skew( -3deg,0deg);
}

.menu__link:active{
	background-color: rgb(199, 199, 199);
}

/* -----2D Transform---  */

.transform {
	background-color: #f8f8f8;
	text-align: center;
}
.transform__title {
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	color: #222222;
	margin-bottom: 30px;
}

.transform__row{
	font-size: 0;
	margin: 0 auto;
	text-align: center;
}

.transform__block3d:not(:last-child){
	margin-bottom: 50px ;
}

.transform__block {
	font-size: 16px;
	margin: 0 auto;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: rgba(123, 221, 234,0.5) ;
	margin-inline: 30px;
	cursor: pointer;
	border: 2px solid rgba(123, 221, 234,0.7) ;
	vertical-align: top;
	margin-bottom: 50px;
	
}

.transform__item {
	background-color: rgba(123, 221, 234,0.8) ;
	border: 2px solid rgb(0, 225, 255) ;
	width: 100%;
	height: 100%;
	padding: 20px;
	text-align: center;
	transition: 0.5s;
}
.transform__block:hover .transform__item--translate {
	transform: translate(0px, 0px);
}
.transform__block:hover .transform__item--translate2 {
	transform: translate(20px,30px);
}
.transform__block:hover .transform__item--translate3 {
	transform: translate(-20px,-30px);
}
.transform__block:hover .transform__item--translate4 {
	transform: translate(10%,-5%);
}
.transform__block:hover .transform__item--scale {
	transform:scale(0);
}
.transform__block:hover .transform__item--scale1 {
	transform:scale(-1,1);
}
.transform__block:hover .transform__item--scale2 {
	transform:scale(0.5);
}
.transform__block:hover .transform__item--scale3 {
	transform:scale(2);
}
.transform__block:hover .transform__item--rotate{
	transform: rotate(-45deg);
}
.transform__block:hover .transform__item--rotate1{
	transform: rotate(45deg);
}
.transform__block:hover .transform__item--rotate2{
	transform: rotate(-180deg);
}
.transform__block:hover .transform__item--rotate3{
	transform: rotate(360deg);
}
.transform__block:hover .transform__item--skew {
	transform: skew(0deg, 20deg);
}
.transform__block:hover .transform__item--skew1 {
	transform: skew(20deg, 0deg);
}
.transform__block:hover .transform__item--skew2 {
	transform: skew(-20deg, 30deg);
}
.transform__block:hover .transform__item--skew3 {
	transform: skew(-20deg, -20deg);
}
.transform__block:hover .transform__item--all {
	transform:scaleX(0.5) skewY(-30deg) skewX(30deg) scaleY(0.5) translateX(20px) translateY(20px) rotate(360deg); 
}
.transform__block:hover .transform__item--matrix {
	transform: matrix(0.5, 1, 1, 0.5, 30, -30);
}
.transform__block:hover .transform__item--origin {
	transform: rotate(15deg);
	transform-origin:top; 
}
.transform__block:hover .transform__item--origin2 {
	transform: rotate(40deg);
	transform-origin:top left; 
}
.transform__block:hover .transform__item--origin3 {
	transform: rotate(90deg);
	transform-origin:100% 100%;
}

/*-------3D Transform ----------*/

[class^="transform__block3d"]{
	font-size: 16px;
	margin: 0 auto;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: rgba(123, 221, 234,0.5) ;
	margin-inline: 30px;
	cursor: pointer;
	border: 2px solid rgba(123, 221, 234,0.7) ;
	vertical-align: top;
	background-color: #4980a08f;
	/* transform-style:preserve-3d; */
	margin-bottom: 50px;
}

.transform__block3d{
	perspective: 10px;
}


.transform__block3d:hover .transform__item--perspective {
	transform: rotateX(45deg);
	

}
.transform__block3d-1{
	perspective: 400px;
}

.transform__block3d-1:hover .transform__item--perspective1 {
	transform: rotateX(45deg);
	
}
.transform__block3d-2{
	perspective: 200px;
	perspective-origin: center;
}

.transform__block3d-2:hover .transform__item--perspective2 {
	transform: rotateY(60deg);
}

.transform__block3d-3{
	perspective: 400px;
	perspective-origin: 0 0;
}
.transform__block3d-3:hover .transform__item--perspective3 {
	transform: rotateX(45deg);
}

.transform__block3d-4{
	perspective: 400px;
	perspective-origin: center;
}
.transform__block3d-4:hover .transform__item--perspective4 {
	transform: translate3d(30px, 40px, 50px); 
}

.transform__block3d-5{
	perspective: 400px;
	perspective-origin: center;
}
.transform__block3d-5:hover .transform__item--perspective5 {
	transform: scale3d(1.5, 1.5, 1.5);
}

.transform__block3d-6{
	perspective: 400px;
	perspective-origin: center;
}
.transform__block3d-6:hover .transform__item--perspective6 {
	transform: rotate3d(1, 1, 1, 45deg);
}

.transform__block3d-7{
	perspective: 300px;
	perspective-origin:center;
}
.transform__block3d-7:hover .transform__item--perspective7 {
	transform: translate3d(30px, 30px,50px) rotate3d(1,1,1,360deg);
}

.transform__block3d-8{
	perspective: 200px;
	transform-style:preserve-3d;
}
.transform__block3d-8:hover .transform__item--perspective8 {
	transform: rotateX(60deg); 
}

.transform__block3d-9{
	perspective: 400px;
	transform-style:preserve-3d;
}
.transform__block3d-9:hover .transform__item--perspective9 {
	backface-visibility: hidden;
	transform: rotateY(185deg); 
}

/* Flipper */

.krovato{
max-width: 100%;
background-color: #f9f9f9;
}

.krovato__title{

	font-size: 25px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;

}
.krovato__cards{
	margin: 0 -15px -30px;
	text-align: center;
}



.card-krovato__body {
	padding: 0 15px 30px;
	display: inline-block;
	position: relative;

	perspective: 800px;

}

.card-krovato__body img {
	width: 100%;
	border-radius: 10px;
}

.card-krovato__front,
.card-krovato__back {
	border-radius: 10px;
	width: 250px;
	transition: all 0.5s;
	border: 3px solid #00000081;
	box-shadow:0px 5px 10px 0px #000;
}

.card-krovato__front {
	background-color: rgb(55, 98, 177);
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

.card-krovato__back {
	background-color: rgb(68, 207, 161);
	transform: rotateX(0deg);
	position: absolute;
	top: 0;

}

.card-krovato__body:hover .card-krovato__front {
	transform: rotateX(0deg);
}

.card-krovato__body:hover .card-krovato__back {
	transform: rotateY(-180deg);
}

/* ---------Car-------- */

.car {
	padding-top: 20px;
	position: relative;
	top: 0px;
	left: 0;
	max-width: 100%;
	min-width: 100%;
	margin-bottom: 20px;
}
.car img{
	opacity: 1;
	width:100%;
}

.car__title{
	margin-bottom: 20px;
	text-shadow: 2px 2px 2px #252525;
	font-size: 30px;
	font-weight: 600;
	color: coral;
	text-align: center;

}
.car__body{
	border-radius: 10px;
	background-color: #adefef;
	/* max-width: 100%; */
	/* min-height: 100%; */
	position: relative;
	top: 0;
	left: 0;
	width: 1500px;
	height:1000px ;
}

.car__frame {
	
	position: absolute;
	bottom: 330px;
	left: 480px;
	border-radius:20% 20% 10% 0  ;
	width:880px;
	transform: skew(10deg);
	height: 220px;
	background: linear-gradient(180deg, rgba(235,54,61,1) 0%, rgba(176,38,43,1) 50%, rgb(105, 21, 24) 100%);
	z-index: 2;
}

.car__frame-front {
	z-index: 2;
	transform: rotate(0deg);
	border-radius: 100% 0 0 10%;
	background: linear-gradient(180deg, rgba(235,54,61,1) 0%, rgba(176,38,43,1) 40%, rgba(133,28,32,1) 100%);
	position: absolute;
	bottom: 330px;
	left: 150px;
	height: 180px;
	width: 350px;
}



.car__left-wheel{
	z-index: 6;
	position: absolute;
	bottom: 252px;
	left: 285px;
	width: 190px;
	height: 190px;

}
.car__right-wheel{
	z-index: 6;
	position: absolute;
	bottom: 252px;
	left: 1020px;
	width: 190px;
	height: 190px;
}

.car__wheel:hover .car__right-wheel{
	transform: rotate(-720deg);
	transition: all 1s;
}

.car__wheel:hover .car__left-wheel{
	transform: rotate(-720deg);
	transition: all 1s;
}


.car__bottom {
	z-index: 1;
	position: absolute;
	bottom: 310px;
	left:  200px;
	width: 1110px;
	height: 200px;
	background-color: black;
	border-radius: 50% 0 100px 10px ;
}

.car__wheel-shadov1 {
	z-index: 3;
	position: absolute;
	bottom: 255px;
	left: 280px;
	width: 200px;
	height: 200px;
	background-color: #000;
	border-radius: 50%;

}
.car__wheel-shadov2 {
	z-index: 3;
	position: absolute;
	bottom: 255px;
	left:  1015px;
	width: 200px;
	height: 200px;
	background-color: #000;
	border-radius: 50%;
}
.car__header1 {
	border-left: 5px solid #a7faf3;
	z-index: 2;
	position: absolute;
	top: 360px;
	left: 580px;
	width: 330px;
	height: 110px;
	background: linear-gradient(0deg, rgba(235,54,61,1) 0%, rgba(176,38,43,1) 40%, rgba(133,28,32,1) 100%);
	transform: rotate(-2deg) skew(-65deg);
	border-radius: 30% 50% 0 0 ;
}

.car__header2 {
	border-right: 10px solid #c7f4f9;
	z-index: 2;
	position: absolute;
	top: 350px;
	left: 755px;
	width: 330px;
	height: 110px;
	background: linear-gradient(0deg, rgba(235,54,61,1) 0%, rgba(176,38,43,1) 40%, rgba(133,28,32,1) 100%);
	transform: rotate(-2deg) skew(70deg);
	border-radius: 60% 30% 0 0 ;
}
.car__hood{
	z-index:2;
	position: absolute;
	 top: 480px; 
	 left: 190px; 
	 width: 300px;
	 height: 30px;
	 background: linear-gradient(180deg, rgba(235,54,61,1) 0%, rgba(176,38,43,1) 40%,  rgb(178, 23, 29) 100%);
	transform: rotate(-5deg) skew(-40deg);
	border-radius: 80% 0 0 0;

}
.car__bumper{
	z-index: 1;
	position: absolute;
	top: 510px;
	left: 137px;
	width: 100px;
	height: 160px;
	background: linear-gradient(100deg, rgb(71, 19, 21) 0%, rgba(176,38,43,1) 40%,  rgb(102, 10, 13) 100%);
	border-radius: 80% 0 0 30%;
}

.car__bumper2 {
	z-index: 2;
	position: absolute;
	top: 550px;
	left: 1344px;
	width: 50px;
	height: 70px;
	perspective: 50px;
	perspective-origin: center;
	transform: rotate(-10deg);
	
}

.car__rear-bumper2{
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgb(71, 19, 21) 0%, rgba(176,38,43,1) 40%,  rgb(102, 10, 13) 100%);
	border-radius:20% 10% 10% 20%;
	transform: rotateY(60deg) skew(0deg);
}

.car__headlight1{
	z-index: 4;
	position: absolute;
	top: 520px;
	left: 200px;
	width: 70px;
	height: 40px;
	background-color: #ffffff;
	border-radius:10% 0 5% 50%;
	transform: rotate(-5deg) skew(-65deg);
	border: 2px solid #000;
	border-left: transparent;
}
.car__headlight2{
	z-index: 4;
	position: absolute;
	top: 522px;
	left: 190px;
	width: 43px;
	height: 40px;
	background-color: #ffffff;
	border-radius:30% 0 0% 0%;
	transform: rotate(-5deg) skew(-35deg);
	border: 2px solid #000;
	border-right: transparent;
}
.car__headlight3{
	z-index: 4;
	position: absolute;
	top: 625px;
	left: 183px;
	width: 40px;
	height: 27px;
	background-color: #d3d3d3;
	border-radius:0% 0 2% 2%;
	transform: rotate(-0deg) skew(50deg);
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;

}
.car__headlight4{
	z-index: 4;
	position: absolute;
	top: 623px;
	left: 172px;
	width: 27px;
	height: 27px;
	background-color: #131313;
	transform: rotate(5deg) skew(-0deg);
	border: 2px solid #000;
	border-right: transparent;
}
.car__headlight5{
	z-index: 3;
	position: absolute;
	top: 622px;
	left: 157px;
	width: 17px;
	height: 28px;
	background-color: #d3d3d3;
	border-radius:20% 0 0% 40%;
	transform: rotate(7deg) skew(5deg);
	border: 2px solid #000;
	border-right: transparent;
}
.car__headlight6{
	z-index: 6;
	position: absolute;
	top: 480px;
	left: 1287px;
	width: 65px;
	height: 50px;
	background-color: #d7050d;
	border-radius:0 10% 0% 100%;
	transform: rotate(3deg) skew(15deg);
	border: 2px solid #000000;
	border-right: transparent;
	border-bottom: transparent;
}
.car__headlight7{
	z-index: 6;
	position: absolute;
	top: 480px;
	left: 1287px;
	width: 50px;
	height: 50px;
	background-color: #d7050d;
	border-radius:0 0% 100% 0%;
	transform: rotate(3deg) skew(65deg);
	border: 2px solid #000000;
	border-right: transparent;
	border-bottom: transparent;
}



.car__body-headlight:hover .car__headlight7{
	background-color: #ff8000;
	box-shadow: 2px 2px 20px 0px #fa8d21;
}
.car__body-headlight:hover .car__headlight6{
	background-color: #ff8000;
	box-shadow: 2px 2px 20px 0px #fa8d21;
}
.car__body-headlight:hover .car__headlight1{
	background-color: #d1feff;
	box-shadow: 2px 2px 20px 0px #ffffff;
}
.car__body-headlight:hover .car__headlight2{
	box-shadow: 2px 2px 20px 0px #ffffff;
	background-color: #d1feff;
}


.car__window-body1 {
	border: 5px solid #ececec;
	z-index: 5;
	overflow: hidden;
	position: absolute;
	top: 377px;
	left: 538px;
	perspective: 400px;
	perspective-origin: 0 0 ;
	width: 260px;
	height: 95px;
	border-radius: 110% 0 0 0 ;
	transform: rotate(-4deg) skew(-15deg);
}
.car__front-window {
	z-index: 0;
	background: linear-gradient(180deg, rgba(168,245,253,1) 0%, rgba(115,229,241,1) 50%, rgba(53,236,255,1) 100%);
	width: 100%;
	height: 100%;
}
.car__window-body2 {
	border: 5px solid #ececec;
	background-color:#adefef;
	z-index: 5;
	overflow: hidden;
	position: absolute;
	top: 362px;
	left: 848px;
	perspective: 400px;
	perspective-origin: 0 0 ;
	width: 245px;
	height: 95px;
	border-radius: 0% 100% 0% 0;
	transform: rotate(-2deg) skew(-15deg);
}
.car__rear-window {
	background: linear-gradient(180deg, rgba(168,245,253,1) 0%, rgba(115,229,241,1) 50%, rgba(53,236,255,1) 100%);
	width: 100%;
	height: 100%;
}
.car__element{
	z-index: 5;
	position: absolute;
	top: 455px;
	left: 1245px;
	perspective: 400px;
	perspective-origin: 0 0 ;
	width: 100px;
	height: 30px;
	border-radius: 50px 5px 0 0 ;
	transform: rotate(5deg) skew(-5deg);
	background: linear-gradient(180deg, rgb(228, 50, 56) 0%, rgb(196, 42, 47) 40%,  rgb(201, 11, 17) 100%);
}
.car__element1{
	z-index: 5;
	position: absolute;
	top: 353px;
	left: 1020px;
	width: 20px;
	height: 20px;
	border-radius: 100% 5px 0 0 ;
	transform: rotate(15deg) skew(-5deg);
	background-color: #141414;
}

.car__element2{
	border-top: 5px solid #ececec;
	border-bottom: 5px solid #ececec;
	z-index: 5;
	position: absolute;
	top: 366px;
	left: 790px;
	width: 60px;
	height: 97px;
	border-radius: 0% 5px 0 0 ;
	transform: rotate(-2deg) skew(-15deg);
	background-color: #141414;
}

.car__line1 {
	opacity: 0.7;
	z-index: 4;
	position: absolute;
	top: 660px;
	left: 515px;
	width: 430px;
	height: 3px;
	background-color: #000000;
}
.car__line2 {
	opacity: 0.7;
	z-index: 4;
	position: absolute;
	top: 408px;
	left: 1023px;
	width: 3px;
	height: 280px;
	transform: rotate(35deg);
	background-color: #000000;
}
.car__line3 {
	opacity: 0.7;
	z-index: 4;
	position: absolute;
	top: 463px;
	left: 813px;
	width: 3px;
	height: 200px;
	transform: rotate(0deg);
	background-color: #000000;
}

.car__line4 {
	opacity: 0.7;
	z-index: 4;
	position: absolute;
	top: 483px;
	left: 513px;
	width: 3px;
	height: 180px;
	transform: rotate(0deg);
	background-color: #000000;
}
.car__line5 {
	opacity: 0.7;
	z-index: 6;
	position: absolute;
	top: 363px;
	left: 822px;
	width: 3px;
	height: 100px;
	transform: rotate(10deg);
	background-color: #000000;
}
.car__line6 {
	opacity: 0.7;
	z-index: 4;
	position: absolute;
	top: 473px;
	left: 1238px;
	width: 3px;
	height: 130px;
	transform: rotate(47deg);
	background-color: #000000;
}
.car__circle {
	z-index: 4;
	position: absolute;
	top: 488px;
	left: 1183px;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	border: 3px solid #000;
}
.car__mirror1 {
	z-index: 5;
	position: absolute;
	top: 433px;
	left: 560px;
	width: 50px;
	height: 50px;
	border-radius: 36% 64% 100% 0% / 69% 64% 36% 31% ;
	transform: rotate(5deg) skew(-0deg);
	background-color: #a60202;
}
.car__mirror2 {
	z-index: 5;
	position: absolute;
	top: 463px;
	left: 540px;
	width: 70px;
	height: 20px;
	border-radius: 10px 0 30px 10px;
	transform: rotate(-5deg) skew(-15deg);
	background-color: #000000;
}


.car__handle1 {
	z-index: 5;
	position: absolute;
	top: 498px;
	left: 735px;
	width: 40px;
	height: 20px;
	border-radius:10px;
	transform: rotate(-3deg) skew(-0deg);
	background-color: #28130f;
}
.car__handle1-right {
	z-index: 5;
	position: absolute;
	top: 482px;
	left: 990px;
	width: 40px;
	height: 20px;
	border-radius:10px;
	transform: rotate(-3deg) skew(-0deg);
	background-color: #28130f;
}
.car__handle2 {
	z-index: 5;
	position: absolute;
	top: 502px;
	left: 725px;
	width: 60px;
	height: 10px;
	border-radius:10px;
	transform: rotate(-3deg) skew(-0deg);
	background-color: #acacac;
}
.car__handle2-left {
	z-index: 5;
	position: absolute;
	top: 486px;
	left: 980px;
	width: 60px;
	height: 10px;
	border-radius:10px;
	transform: rotate(-3deg) skew(-0deg);
	background-color: #acacac;
}
.car__helm {
	opacity: 0.3;
	z-index: 6;
	position: absolute;
	top: 430px;
	left: 615px;
	width: 10px;
	height: 40px;
	border-radius:10px;
	transform: rotate(-20deg) skew(-0deg);
	background-color: #100f0f;
}
.car__road {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(0deg, rgba(17,14,13,1) 0%, rgb(54, 41, 40) 50%, rgb(88, 78, 78) 100%);
	box-shadow: 0px 0px 50px 0px rgb(252, 145, 106) ;
}

.car__sea{
	position: absolute;
	bottom: 400px;
	width: 100%;
	height: 200px;
	background: linear-gradient(180deg, rgba(32,183,240,1) 0%, rgba(35,158,203,1) 50%, rgba(20,80,101,1) 100%);
	box-shadow: -2px 0px 10px 0px rgb(20, 153, 202) ;
}

.car__sun{
	position: absolute;
	top: 150px;
	left: 50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgba(255, 217, 0, 0.885);
	box-shadow: -2px 0px 100px 0px rgb(255, 255, 0) ;
	transition: 0.5s;
}

.car__sun:hover{
	transform: scale(1.5);
	
}

.car__shadow{
	opacity: 0.6;
	position: absolute;
	top: 700px;
	left: 250px;
	width: 1200px;
	height: 60px;
	transform: skew(40deg);
	border-radius: 500px;
	background-color: rgb(0, 0, 0);
	box-shadow: 30px 0px 100px 0px rgba(0, 0, 0, 0.984) ;
}


.footer {
	max-width: 100%;
	
}