
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body{
	max-width: 100%;
	font-family: "Proxima Nova",sans-serif;
	background-color: #f8f8f8;
}

.wrapper {
	
	display: flex;
	flex-direction: column;
	min-height: 100%;

}
.navigation {
}

[class*="__container"]{
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
}



.info-top {
	
	padding: 15px 0;
	color: #535353;
}

.info-top__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
}
.info-top__menu {

}
.menu {

}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 10px;
}


.menu__link {
	font-size: 16px;
	line-height: 1.875; /* 30px/16 */
	border-radius: 5px;
	outline-offset: 10px;
	transition: color 0.2s, outline 0.2s, outline-offset 0.2s ;

}
.menu__link:hover{
	color: #ffbc57;
	outline: 1px solid #ffbc57;
	outline-offset: 2px;
}

.info-top__help-info {
}

.info-help {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	gap:30px;

}
.info-help img{
	flex-basis:30px ;
}

.info-help__row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:20px ;
}
.info-help__text {
	font-size: 16px;
	line-height: 30px;
}
.info-help__images {
}

.images-icon{}

.images-icon__row{
	font-size: 0;
	gap: 10px;
	display: flex;
	
}

.images-icon__row img{
	transition: transform 0.2s, opacity 0.2s;
}
.images-icon__row img:hover{
	transform: scale(1.1);
	opacity: 0.7;
}


.languages {
	max-width: 64px;
}

.languages__select{

	font-size: 19px;
	font-weight: 600;
	line-height: 24px;
	border-radius: 5px;
	transition:all 0.2s ;
	background-color: #f8f8f8;
}
.languages__select:focus{
	color: #ffbc57;
	outline: 1px solid #ffbc57;
	outline-offset: 2px;
}
.languages__select:hover{
	color: #ffbc57;
	outline: 1px solid #ffbc57;
	outline-offset: 2px;
}
.languages__option{
	background-color: #ffbc57;
	color: #fff;
}
.languages__option:hover{
	color: #ffffff;
	outline: 1px solid #ffffff; 
}

.languages__select::after{
	content:"";
	background: url(../img/icons/arrow.svg) 0 -1px / 100% no-repeat;
	width: 24px;
	height: 24px;
	vertical-align: top;
	cursor: pointer;
	transition: transform 0.2s;
}
.languages__select:hover::after{
	transform: rotate(360deg);
}

.info-main {

	max-width: 100%;
	padding: 25px 0;
	border-bottom: 2px solid #f8f8f8;
}
.info-main--white{
	max-width: 100%;
	background-color: #ffffff;
}

.info-main__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
}
.info-main__logo {
	flex-basis: 250px;
	transition:all 0.2s ;
	outline:1px solid #53535300;
}
.info-main__logo:hover {
	outline:1px solid #5353534d;
	outline-offset: 5px;
	border-radius: 3px;
}
.info-main__logo:focus-visible {
	outline:2px solid #0000004d;
	outline-offset: 5px;
	border-radius: 3px;
}

.info-main__logo img{
	width: 100%;
}
.info-main__catalog {
	padding: 11px 20px 11px 20px;
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	line-height: 24px;
	border-radius: 8px;
	background-color: #ffbc57;
	will-change: transform;
	transition:background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}
.info-main__catalog::before{
	content: "";
	width: 24px;
	height: 24px;
	background: url(../img/icons/menu-catalog.svg) 0px 0px /100% no-repeat;
	margin-right: 10px;
	vertical-align: top;
	animation-name:catalog ;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.info-main__catalog:hover{
	background-color: #fea622;
	transform: scale(1.03);
	box-shadow: 1px 1px 1px 0px #535353;
}

.info-main__catalog:hover::before{
	
}

@keyframes catalog{
	0%{
		transform: rotate(0deg);
	}
	8%{
		transform: rotate(360deg);
	}
	8.1%{
		transform: rotate(0deg);
	}
	40%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(0deg);
	}
}


.info-main__search{
	position: relative;
	flex-basis: 421px;
	background-color: #fff;
	border: 1px solid #b1b1b1;
	border-radius: 8px;
}

.info-main__search:focus{
	border: 1px solid #fea622;
	background-color: #ffc248;
}

.search__input {
	padding-left: 15px;
	padding-right: 54px;
	/* color: #000; */
	color: #2b2929;
	border-radius: 8px;
	height: 50px;
}

.search__input:focus {

	background-color: #fffefa;
	outline: 1px solid #fea622;
}
.search__input:focus-visible + .info-main__search{

	outline: 2px solid #fea622;
}

.search__input::placeholder {
	color: #b1b1b1;
}
.search__button {
	position: absolute;
	right: 0;
	top: 0;
	width: 54px;
	height: 100%;
	background: url("../img/icons/search.svg") center no-repeat;
	will-change:transform ;
	transition: transform 0.2s ;
}

.search__button:hover{
	transform: scale(1.05);
}



.info-main__contacts {
}
.contacts {
	display: flex;
	align-items: center;
	gap: 10px;
}
.contacts__data{

}
.contacts::after{
	content: "";
	width: 24px;
	height: 24px;
	background: url(../img/icons/arrow.svg) 0 0 /100% no-repeat;
	cursor: pointer;
	will-change:transform;
	transition:transform 0.2s ;
}

.contacts:hover::after {
	transform: scale(1.4);
}


.contacts__image{
	transition: all 0.2s;
}

.contacts__image:hover {
	animation:icon-tel;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
}


@keyframes icon-tel{
	0%{
		transform: rotate(0deg);
	}
	0%{
		transform: rotate(-10deg);
	}

	100%{
		transform: rotate(0deg);
	}
}

.contacts__text {
	color: #535353;
	font-size: 13px;
	font-weight: 200;
	line-height: 1.69230769; /* 22px/13 */

 
}
.contacts__tel {

	color: #2b2929;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4; /* 28px/20 */
	transition: color 0.2s;
}
.contacts__tel:hover{
	color: #ffbc57;
}
.info-main__icons-info {
	font-size: 0;
}
.icons-info {
	display: flex;
	gap: 20px;
}

.icons-info__selected,
.icons-info__basket {
	transition:all 0.2s ;

}

.icons-info__basket:hover,
.icons-info__selected:hover{
	transform: scale(1.1);
	opacity: 0.8;

}
.info-footer {
	background-color:#ffffff;
	color: #535353; 
	padding: 18px 0;

}
.info-footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
}



.info-footer__shares {
	font-size: 0;
}
.shares {
	display: flex;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26315789; /* 24px/19 */
	
}
.shares__list {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;

}
.shares__list a {
	transition:color 0.2s ;
}

.shares__list a:hover {
	color: #ffbc57;


}

.shares__item {
	flex-basis: 24px;
}

.shares__item-sale,
.shares__item-akcii,
.shares__item-credit{
	will-change:transform ;
	transition:transform 0.2s;
}
.shares__item-sale:hover,
.shares__item-akcii:hover,
.shares__item-credit:hover{
	transform: scale(1.03);
	
}


.shares__item-sale::before,
.shares__item-akcii::before,
.shares__item-credit::before{
	content: "";
	width: 24px;
	height: 24px;
	margin-right: 5px;
	vertical-align: middle;
	
}
.shares__item-akcii::before{
		background: url(../img/icons/akcii.svg) 0 0/ 100% no-repeat;
}
.shares__item-sale::before {
	background: url(../img/icons/sale.svg) 0 0/ 100% no-repeat;

}
.shares__item-credit::before {
	background: url(../img/icons/credit.svg) 0 0 / 100% no-repeat;

}
.info-footer__menu {
}

.info-footer__menu li:not(:last-child) {
	margin-right: 10px;
}
.menu__link--big {
	display: flex;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26315789; /* 24px/19*/
	gap: 40px; 
}



.page{
	padding: 20px 0;
	flex-grow: 1;
}

/* ___FORM____ */

.orders {
	/* color: #2b2929; */
	max-width: 740px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.orders__title {
	padding: 40px 0;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2; /* 48px/40px */
}

.form-new {
	display: flex;
	flex-direction: column;
	gap:5px ;
}
.form__section {
	border-radius: 8px;
	
}
.section-form:last-child{
	border-radius: 0 0 8px 8px;
}
.section-form:first-child{
	border-radius: 8px 8px 0 0;
}

.section-form {
	padding: 30px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.section-form__header{
	display: flex;
	align-items: center;
	gap: 15px;
}
.section-form__image {
	flex-basis: 60px;
}
.section-form__title {
	font-size: 26px;
	font-weight: 600;
	line-height: 34px;

}
.section-form__row {
	flex-wrap: wrap;
	display: flex;
	column-gap: 30px;
	row-gap: 20px;
}
.section-form__block {
	
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	flex:1 1 325px;
}
.section-form__input {
	padding: 10px 20px;
	border: 1px solid #d1d5d5;
	border-radius: 8px;
	transition: 0.2s;
	outline: 2px solid #ffbc5700;
}
.section-form__input::placeholder{
	color: #535353;
	font-size: 16px;
	line-height: 1.875; /* 30px/16 */

	transition:outline 0.2s ;
}
.section-form__input:focus::placeholder {
	opacity: 0;
}
.section-form__input:focus{
	outline: 2px solid #ffbc57;
}
.section-form__input:hover{
	outline: 2px solid #ffbc57;
}

.section-form__check {
	cursor: pointer;
	align-self: start;
	border-radius: 2px;
	outline: 1px solid #ffbc5700;
	outline-offset: 5px;
	transition: all 0.2s ;
}


.section-form__item:focus-visible  {
	outline: 1px solid #ffbc57;
	outline-offset: 5px;

} 

.check{
	position: relative;
}

.check__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	transition: all 0.2s;
}

.check__text{
	color: #535353;
	font-size: 16px;
	line-height: 1.875; /* 30px/16px */
	display: flex;
	align-items:center;
	gap: 14px;
	transition: color 0.2s;
}

.check__text:hover{
	color: #ffbc57;
} 

.check__text::before{
	content: "";
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #d1d5d5;
	border-radius: 1px;
	
	
}

.check__input:focus-visible + .check__text{
	outline: 1px solid #ffbc57;
	outline-offset:2px ;
	border-radius: 3px;

}

.check__input:checked + .check__text::before{
	background: url(../img/icons-form/check-circle.svg) center / 30px no-repeat;
	outline: 1px solid #ffbc57;
	outline-offset:2px ;
	transform: scale(1);

}

.section-form__list {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}

.section-form__item {
	border-radius: 8px;
	flex:1 0 210px;
   min-height: 142px;
   flex-grow: 1;
   position: relative;
	outline: 1px solid #ffbc5700;
	transition: outline 0.1s;
}

.check__input:focus-visible + .section-form__item {
	outline: 3px solid #000000;
	outline-offset: 6px;
}

.choice {

}
.choice__input {
	z-index: 5;
	cursor: pointer;
	position: absolute; 
	top: 0; 
	width: 100%;
	height:100%;
	opacity: 0;
}
.choice__row-label{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* display: inline-block; */
	width: 100%;
	height: 100%;
	padding: 17px;

	gap: 10px;
	
   border: 3px solid #F8F8F8;
   border-radius: 8px;
	transition:all 0.1s;
}
.section-form__item:hover{
	outline: 2px solid #ffbc57;
	outline-offset: 3px;
}

.choice__row-label::before{
	content: "";
	width: 40px;
	height: 40px;
	background: url(../img/icons-form/check-circle.svg)0 0 / 100% no-repeat;
	position: absolute;
	top: 20px;
	visibility: hidden;
	will-change:transform ;
	opacity: 0;
	transform: scale(0);
	transition:all 0.2s;
}

.choice__image {

	max-width:  40px;
	visibility: visible;
	transform: scale(1);
	opacity: 1;
	width: 100%;
	will-change:transform;
	transition: all 0.2s;
}
.choice__image img{

	width: 100%;
}

.choice__title{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items:center;
}

.choice__text-1 {
	color: #2b2929;
	font-size: 16px;
	text-align: center;
	line-height: 1.875; /* 30px/16 */
}

.choice__text-2 {
	color: #535353;
	font-size: 15px;
	line-height: 1.46666667; /* 22px/15 */
}


.choice__input:focus-visible + .choice__row-label{
	outline: 2px solid #ffbc57;
	outline-offset: 3px;
}

.choice__input:checked + .choice__row-label{
	border: 3px solid #ffbc57;
	background-color: #fcf7f0;
}

.choice__input:checked +.choice__row-label::before{
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}
.choice__input:checked +.choice__row-label::before{
	visibility: visible;
	opacity: 1;
}
.choice__input:checked + .choice__row-label>img{
	transform: scale(0);
	visibility: hidden;
	opacity: 0;
}


.contacts-form {
	border-radius: 8px;
	background-color: #f8f8f8;
	padding: 20px;
	color: #2a2929;
}
.contacts-form__row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

}
.contacts-form__text {
	display: flex;
	align-items: center;
	gap:20px ;
	flex: 0 1 450px;
}

.contacts-form__text::before{
	content: "";
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	background: url(../img/icons-form/location.svg) 0 0 / 100% no-repeat;

}

.text{

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.text__schedule {

	font-size: 16px;
	line-height: 1.875; /* 30px/16 */
}
.text__location {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
}
.contacts-form__button {
	display: flex;
	align-items: center;
	gap: 10px;
	flex:0 0 142px ;
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	line-height: 24px;
	background-color: #ffbc57;
	padding: 13px 20px;
	border-radius: 8px ;
	transition: all 0.2s;
}

.contacts-form__button::before{
	content: "";
	flex-shrink: 0;
	flex-wrap: wrap;
	width: 24px;
	height: 24px;
	background: url(../img/icons-form/map.svg) 0 0 /100% no-repeat;
}

.contacts-form__button:hover{
	background-color: #ffca7a;
	box-shadow:1px 1px 5px 0px #272727;
}


.section-form__payment-item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-self: flex-start;

}
.payment {
}
.payment__list {
	position: relative;
	
}


.payment__row-list {
	cursor: pointer;
	display: flex; 
	align-items: center;
	gap: 10px;
	transition:all 0.2s ;
	outline: 3px solid #ffbc5700;
	outline-offset: 5px;
	border-radius: 3px;
}


.payment__radio {

	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;


	
}
.payment__text{
	display: flex;
	align-items: center;
	gap: 10px;
	color: #2b2929;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	transition:all 0.2s ;

	
}
.payment__radio:hover + .payment__text{
	color: #ffbc57;
}

.payment__radio:focus-visible + .payment__text{
	color: #ffbc57;
	outline: 2px solid #ffbc57;
	outline-offset: 5px;
	border-radius: 3px;
}


.payment__text::before{
	content: "";
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	border: 2px solid #b1b1b1;
	border-radius: 50%;


	
}
.payment__row-list img{
	flex: 0 0 48px;
}
.payment__radio:checked + .payment__text::before{
	background: url(../img/icons-form/check-circle.svg) center / 25px no-repeat;

}
.payment__row-list:hover{
	outline: 2px solid #ffbc57;
	outline-offset: 5px;

}

.section-form__comment{
	padding: 10px 20px;
	color: #535353;
	font-size: 16px;
	line-height: 1.875; /* 30px/16 */
	max-width:100%;
	min-height: 150px;
	border: 1px solid #d1d5d5;
	border-radius: 8px;
	resize: vertical;
	transition:border 0.2s,;
}
.section-form__comment:focus{
	outline: 2px solid #ffbc57;
}

.section-form__comment:hover{
	border: 1px solid #ffbc57;
}

.section-form__button{
	color: #fff;
	padding: 13px;
	font-size: 19px;
	font-weight: 600;
	line-height: 24px;
	border-radius: 8px ;
	justify-content: center;
	background-color: #ffbc57;
	will-change: transform;
	transition:all linear 0.2s ;
}

.section-form__button:focus-visible{
	outline: 2px solid #ffbc57;
	outline-offset: 2px;
}

.section-form__button:hover{
	background-color: #fea622;
	box-shadow: 1px 1px 1px 0px #535353;
	transform: scale(1.01);

}

.section-form__agreement {
}
.agreement {
}
.agreement__text {
	text-align: center;
	color: #535353;
	font-size: 17px;
	line-height: 1.41176471; /* 24px/17 */
}

.agreement__text span{
	color: #ffbc57;
}



/*____ Practice_____ */


.practice{
	padding: 10px 0;
	/* background-color: #2a2929; */
	background-color: #253251;
	border-radius: 10px;
}

.practice__title{
	text-align: center;
	padding: 20px 0;
	font-size: 40px;
	color: #ffffff;
	font-weight: 600px;

}

.form{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 20px;
}

.form__line{
	flex-basis: 45%;
	padding: 10px;
	border-radius: 10px;
	background-color: #ebebeb;
	
}

.form__input {
	border: 1px solid #ffbc57;
	background-color: #ffffff;
	height: 50px;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #000000;
}

.form__input::placeholder {
	color: #686868;
	transition: opacity 0.8s;
}
.form__input:focus::placeholder {
	opacity: 0;
}

.form__label {
	display: block;
	margin-bottom: 5px;
	color: blue;
}

.form__input:disabled {
	opacity: 0.5;
}

.form__color-row{
	display: flex;
	align-items: center;
	gap: 30px;
}

.form__label--color{
	color: #65e5ff;
	font-size: 20px;
	text-shadow:1px 1px 1px #000000bc;
	margin-bottom: 0;
}

.form__input--color {
	width: 100px;
	padding: 0;
	border-radius: 5px;
}

.form__input--search:disabled{
	border: 1px solid #000000;
	background-color: #00000058;
	height: 50px;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #000000;
}

.form__line-range {
	flex-basis: 45%;
	border: 1px solid #000;
	padding: 10px;
	border-radius: 10px;
	background-color: #ebebeb;
}


input[type="range"] {
	margin: 20px 0;
	padding: 0;
	appearance: none;
	height: 10px;
	background: rgba(180, 180, 180, 0.6);
	border-radius: 5px;
	background-image: linear-gradient(#00d5ff, #42a7ff);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: ew-resize;
	box-shadow: 2px 2px 5px 0 #f3a450;
 }
 
 input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: hsl(32, 100%, 50%);
	cursor: ew-resize;
	box-shadow: 2px 2px 5px 0 #0073ff;
	transition: background 0.3s ease-in-out;
 }
 
 input[type=range]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
 }

 .form__text-range  {
	font-size: 20px;
	line-height: 30px;
	color: #fea622;
 }


.form__file {
	padding: 20px 0;
}

.form__textarea {
	height: 100px;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	color: #333;
	resize: vertical;
}

.form__group:not(:last-child) {
	margin-bottom: 20px;
}
.form__group {
	border-radius: 10px;
	border: 1px solid #ff8080;
	padding: 0 15px 15px 15px;
}
.form__title {
	background-color: #004782;
	padding: 10px;
	color: #fff7f7;
	border-radius: 10px;
}

.form__text{
	line-height:25px ;
	font-size: 20px;
	text-align: center;
	color: #373737;
}

.form__text:not(:last-child){
	margin-bottom: 10px;
}

.form__checkbox:not(:last-child){
	margin-bottom: 5px;
}


.form__checkbox{
	max-width: 170px;
	width: 100%;

}

.checkbox {
	background-color: #F8F8F8;
	display: inline-flex;
	justify-content: start;
	flex-wrap: wrap;
	gap: 10px;
	position: relative;
	cursor: pointer;
}

.checkbox__input:focus-visible + .checkbox__text {
	outline: 1px solid #000000;
	outline-offset: 5px;
}

.checkbox__input:checked + .checkbox__text::before {
	background-color: #00d5ff;
	outline:1px solid #42a7ff;
	outline-offset: 1px;
}

.checkbox__text {
	padding: 10px;
	font-size: 18px;
	line-height:30px ;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 15px;
}
.checkbox__text::before {
	transition: all 0.3s;
	content: "";
	flex-shrink: 0;
	width: 18px;
	height: 18px;
	border-radius: 1px;
	border: 1px solid #353535;
}
.checkbox__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.form__group{
	margin: 0 auto;
	max-width: 250px;
	width: 100%;
	background-color: #f3a450;
}

.form__radio:not(:last-child){
	margin-bottom: 2px;
}

.radio {


	position: relative;
	cursor: pointer;
}
.radio__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.radio__input:focus-visible + .radio__text {
	outline: 5px solid #ffffff;
	outline-offset: 10px;
}
.radio__input:checked + .radio__text::before {
	background-color: #00d5ff;
	border: 2px solid #ffffff;
	outline: 1px solid #65e5ff;
}
.radio__text {
	padding: 5px;
	line-height: 1.38888889; /* 25px/18 */
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 15px;
}


.radio__text::before {
	transition: all 0.2s;
	content: "";
	flex-shrink: 0;
	width: 18px;
	border-radius: 50%;
	height: 18px;
	border: 1px solid #000000;
}

.form__title {
	margin-bottom: 10px;
}


.form__line--select select{
	margin: 0 auto;
}
.form__select {
	display: flex;
	justify-content: center;
	background-color: rgb(63, 63, 63);
	color: #ffffff;
	font-size: 20px;
	max-width: 200px;
	width: 100%;
	min-height: 30px;
	border-radius: 5px;
}

.form__select:focus{
	
	outline: 2px solid #004cff;
}
.form__option {
	width: 300px;
}

.form__button{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;

}
.form__button button{
	padding: 15px 30px;
	border-radius: 10px;
	background-color: #fea622;
	border: 3px solid  #ff9900;
	color: #2a2929;
	font-size: 20px;
	font-weight: 600;
}

.form__button button:hover{
	background-color: #ffc979;
}




.footer {
	background-color: #2a2929;
	min-height: 100px;
} 
.footer__container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 100px;

}
.footer__logo {
	z-index: 2;
	padding: 40px 0;
	
}
.footer__logo img{
	transition: all 0.2s ;
}
.footer__logo img:hover{
	outline: 1px solid #ffbc57;
	outline-offset: 5px;
	border-radius: 3px;
}
.footer__logo img:focus-visible{
	outline: 1px solid #ffbc57;
	outline-offset: 5px;
	border-radius: 3px;
}


.menu--footer{
	padding: 40px 0;
	color: #ffffff;
}